body {
    background-color: oklch(0.984 0.003 247.858);
}


/* .card {
    box-shadow: 0 0 3px #00000005 !important;
    border: 1px solid #00000004 !important;
    border-radius: 20px !important;
} */
